body {
  background-color: hsl(233, 47%, 7%);
}

.card {
  background-color: hsl(277, 64%, 61%);
}

img {
  opacity: 0.5;
}

.card-body {
  background-color: hsl(244, 38%, 16%);
}

h4,
.strong-stats {
  color: hsl(0, 0%, 100%);
}

.accent {
  color: hsl(277, 64%, 61%);
}

.stats {
  color: hsla(0, 0%, 100%, 0.6);
}

.card-text {
  color: hsla(0, 0%, 100%, 0.75);
}

/* For Tablets and desktops */
@media screen and (min-width: 540px) and (max-width: 1280px) {

  img {
    
  }

}